@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    font-weight: 300;
}

::selection{
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}

img{
    max-width: 100%;
}

ul li{
    list-style: none;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'inter', sans-serif;
    height: 100vh;
    /* transition: .5s ease-in-out; */
    padding-top: 80px;
    color: #000000e3;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    background-color: #fff;
    top: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    transition: .3s ease-in-out;
    z-index: 999;
}

.menu-icon {
    cursor: pointer;
    color: #000000;
    display: none;
}

.menu-icon i {
    display: inline-block;
    font-size: 2rem;
    transition: transform 0.5s ease, color 0.5s ease;
}

.menu-icon i.bx-x{
    transform: rotate(90deg);
}

.logo{
    font-size: 20px;
    font-weight: 900;
    font-family: 'Fredoka';
    text-transform: uppercase;
}

.nav-list{
    display: flex;
    gap: 20px;
}

.nav-list li{
    font-weight: 600;
    transition: .2s ease-in-out;
}

.nav-list li:hover{
    transform: scale(.9)
}

header > button{
    display: block;
    background-color: #000000e4;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.hero{
    height: 600px;
    padding: 70px 20px 0;
    margin: 0 0 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center; 
    background-image: linear-gradient(#fff, #ffffff9c,  #00000000), url(/asset/hero\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .3s ease-in-out;
}

.hero-content{
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease-in-out;
}

.hero-content h1{
    font-size: 3.6rem;
    font-size: 900;
    transition: .2s ease;
}

.hero-content p{
    font-weight: 700;
    font-size: 1.2rem;
    transition: .3s ease-in-out;
}

.hero-content > button{
    padding: 20px 30px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .15s ease;
}

.hero-content > button:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.707);
}

.main{
    padding: 20px 30px;
    height: auto;
    transition: .3s ease-in-out;
}

.main-content{
    padding: 20px 0;
    transition: .3s ease-in-out;
}

.main-content span{
    color: orangered;
    font-size: 17px;
    font-weight: 600;
}

.main-content h2{
    font-size: 1.6rem;
    font-weight: 900;
}

.main-content p{
    font-weight: 500;
}

.grid{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    gap: 15px;
    border-radius: 10px;
    height: auto;
    transition: .3s ease-in-out;
}

.grid-col-one{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow: hidden;
    transition: .3s ease-in-out;
}


.grid-col{
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 15px;
    transition: .3s ease-in-out;
}

.grid-col-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    transition: .3s ease-in-out;
}


.box{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 250px;
    transition: .3s ease-in-out;
}

.box-image{
    position: absolute;
    width: 100%;
    height: 100%;
}

.box-image > img{
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(.7);
    object-fit: cover;
    object-position: center;
    transition: .3s ease-in-out;
}

.box:hover > .box-image img{
    transform: scale(1.1);
    filter: brightness(.9);
}

.box-content{
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 5px;
    color: #fff;
    transition: .3s ease-in-out;
}

.box-content button{
    display: block;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
}

.box-content p{
    font-size: .9rem;
}

.box-content a{
    font-size: .8;
    transition: .15s ease;
}
.box-content a:hover{
    color: orangered;
}

.container{
    padding: 20px 30px;
    text-align: center;
    transition: .3s ease-in-out;
}

.container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
    gap: 10px;
    margin-bottom: 40px;
    transition: .3s ease-in-out;
}

.container-content .p{
    color: orangered;
    font-weight: 500;
    font-size: 1.2rem;
}

.container-content h2{
    font-size: 1.7rem;
    font-weight: 900;
    line-height: .98;
}

.container-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    transition: .3s ease-in-out;
}

.image-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: .3s ease-in-out;
}

.image-box p{
    font-weight: 500;
    font-size: 1.2rem;
    transition: .3s ease-in-out;
}

.images{
    position: relative;
    overflow: hidden;
    height: 100%;
    transition: .3s ease-in-out;
    border-radius: 20px;
}

.images > img{
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    transition: .3s;
}

.images:hover > img{
    transform: scale(1.1);
}

.product{
    padding: 20px 30px;
    transition: .3s ease-in-out;
}

.product-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin-bottom: 20px;
    transition: .3s ease-in-out;
}

.product-content span{
    color: orangered;
}

.tab{
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.a{
    background-color: #000000e4;
    color: #fff;
}

.tab a{
    display: block;
    padding: 6px 12px;
    border-radius: 10px;
    border: 1px solid #000000e4;
    transition: .2s ease;
}

.tab a:hover{
    background-color: #000000e4;
    color: #fff;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    transition: .3s ease-in-out;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.099);
    transition: .3s ease-in-out;
}

.card-image{
    position: relative;
    overflow: hidden;
    height: 280px;
    border-radius: 5px;
}

.card-image img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    filter: brightness(.7);
    object-fit: cover;
    object-position: center;
    transition: .3s ease-in-out;
}

.card-image img:hover{
    transform: scale(1.1);
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 10px;
}

.card-text > h4{
    font-weight: 800;
}

.p-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-rate span i{
    color: #ff7b00;
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 10px 5px;
}


.buttons > button{
    padding: 12px 15px;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background-color: #fff;
    flex: 2;
    border-radius: 10px;
    transition: .15s ease-in-out;
}

.buttons > button:nth-child(2){
    background-color: #000;
    color: #fff;
}

.buttons > button:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.788);
}

.more{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.more button{
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: .15s ease-in-out;
}

.more button:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.707);
    color: #fff;
}

.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    transition: .3s ease-in-out;
    margin: 30px 0;
}

.reviews-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    transition: .3s ease-in-out;
}

.reviews-texts span{
    color: orangered;
    font-weight: 600;
    font-size: 1.1rem;
}

.reviews-texts h2{
    text-align: center;
    line-height: 1.1;
    font-weight: 900;
}

.reviews-card{
    display: flex;
    flex: 1;
    height: auto;
    gap: 20px;
    margin: 20px 0;
    transition: .3s ease-in-out;
}

.R-card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px  10px rgba(0, 0, 0, 0.178);
    border-radius: 20px;
    padding: 10px;
    gap: 30px;
    transition: .3s ease-in-out;
}

.stars{
    display: flex;
    gap: 5px;
}

.stars span i{
    color: #ff7b00;
    font-size: 1.3rem;
}

.R-col{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: .3s ease-in-out;
}

.R-image{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.R-image > img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    filter: brightness(.9);
    object-fit: cover;
    object-position: center;
}

.R-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: .3s ease-in-out;
}

.R-row{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: .3s ease-in-out;
}

.R-row span{
    padding: 10px;
    font-weight: 700;
    border-radius: 20px;
}

.R-row p{
    font-weight: 600;
}

footer{
    background-color: #000000e3;
    color: #fff;
    padding: 30px 30px;
    transition: .3s ease-in-out;
}

.footer{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    transition: .3s ease-in-out;
}

.footer-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    transition: .3s ease-in-out;
}

.footer-add h4,
.footer-col h4{
    font-size: 1.2rem;
    font-weight: 900;
}

.footer-log,
.footer-add{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.footer-col ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-col ul li a{
    display: flex;
    align-items: center;
    gap: 3px;
}

.footer-col ul li a > i{
    font-size: 1.3rem;
    transition: .3s ease;
}

.footer-col ul li a:hover > .bxl-twitter{
    color: rgb(0, 157, 255);
}

.footer-col ul li a:hover > .bxl-linkedin{
    color: rgb(23, 53, 71);
}

.footer-col ul li a:hover > .bxl-facebook-circle{
    color: rgb(48, 109, 232);
}

.footer-col ul li a:hover > .bxl-instagram-alt{
    color: rgb(243, 57, 57);
}

.footer-col ul li a:hover > .bxl-whatsapp{
    color: green;
}

.footer-col ul li:hover{
    color: #ffffff9c;
    transform: scale(.99);
}

footer li,
footer p,
footer a{
    width: 100%;
    font-size: .9rem;
    font-weight: 600;
    transition: .15s ease;
}

@media (min-width: 1440px){
    header,
    .hero, .main, .container, .product, .reviews, footer{
        padding-inline: 60px;
    }
}


@media (max-width: 1300px){
    .R-col{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .R-image{
        width: 280px;
        height: 280px;
    }

    .R-details{
        justify-content: center;
        text-align: center;
        gap: 10px;
    }

    .R-details h4{
        font-size: 1.5rem;
    }

    .R-row{
        gap: 20px;
    }
}

@media (max-width: 1100px){
    .grid{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .grid-col-one{
        height: 400px;
    }

    .grid-one{
        height: 40vh;
    }

    .product-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .R-card{
        padding: 10px;
        gap: 10px;
    }
}

@media (max-width: 990px){
    .reviews-card{
        min-width: 200px;
        flex-wrap: wrap;
    }

    .R-col{
        gap: 60px;
    }

}


@media (max-width: 835px){
    .product-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 768px){
    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .nav-list {
        flex-direction: column;
        position: fixed;
        padding: 50px 20px;
        top: 3.8rem;
        left: 0;
        width: 70%;
        gap: 30px;
        height: 100vh;
        background-color: #ffffff;
        transform: translateX(-100%);
        transition: .3s ease-in;
        z-index: 99;
        overflow-x: hidden;
    }

    .nav-list.open {
        height: 100vh;
        transform: translateX(0);
        transition: .3 ease-out;
    }

    .nav-list li a{
        font-weight: 400;
        font-size: 1.1rem;
    }
    header{
        padding: 15px 15px;
    }

    header > button{
        padding: 10px 25px;
    }

    .buttons{
        flex-direction: column;
    }

    .product-container{
        gap: 5px;
    }

    .card-text p{
        font-size: .9rem;
        text-align: left;
    }

    .buttons > button{
        display: block;
        text-align: left;
    }

    .reviews{
        padding: 15px;
    }

    .R-card{
        gap: 20px;
    }

    .R-details{
        gap: 8px;
    }

    footer{
        padding: 20px 15px;
    }

    .footer{
        padding: 20px 0;
        gap: 30px;
    }
}

@media (max-width: 568px){
    .logo{
        font-size: 18px;
        font-weight: 900;
    }

    header > button{
        padding: 8px 20px;
    }

    .menu-icon i{
        font-size: 1.6rem;
    }
    .hero{
        padding: 30px 0;
        height: 600px;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(#ffffffef,  #00000000), url(/asset/hero\ bg.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .hero-content h1{
        font-size: 7vw;
    }

    .hero-content button{
        padding: 20px 50px;
    }

    .main{
        padding: 10px 15px;
    }

    .main-content p{
        font-weight: 400;
        font-size: .9rem;
    }

    .grid{
        grid-template-columns: 1fr;
    }

    .box{
        height: 350px;
    }

    .grid-col-row{
        display: grid;
        grid-template-columns: 1fr;
    }

    .container{
        padding-inline: 15px;
    }

    .container-content{
        margin-bottom: 20px;
        gap: 5px;
    }

    .container-content h2{
        font-size: 1.4rem;
        font-weight: 800;
    }

    .container-content p{
        font-size: .9rem;
    }

    .container-images{
        grid-template-columns: 1fr;
    }

    .product{
        padding: 20px 15px;
    }

    .tab{
        width: 100%;
        max-width: 100%;
        padding: 10px 0;
        overflow: scroll;
    }

    .tab > a:hover{
        background-color: #000;
        color: #fff;
    }

    .product-container{
        gap: 10px;
    }

    .card{
        gap: 1px;
        line-height: .9;
    }

    .card-image{
        height: 200px;
    }

    .buttons{
        margin: 5px 0;
    }

    .buttons > button{
        padding: 10px 15px;
    }

    .p-rate strong,
    .p-rate span{
        font-size: .9rem;
    }

    .R-card{
        gap: 10px;
    }

    .stars span i{
        font-size: .9rem;
    }

    .R-card p{
        font-size: .9rem;
    }

    .R-image{
        width: 180px;
        height: 180px;
    }

    .R-col{
        flex-wrap: nowrap;
        gap: 50px;
    }

    .R-row{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        font-size: .9rem;
    }

    .R-row span{
        padding: 5px 10px;
        
    }

    .footer-col p{
        font-size: .9rem;
    }
}

@media (max-width: 480px){
    .card-text{
        padding: 5px;
    }

    .card-text h4{
        width: 170px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .R-details{
        flex-wrap: wrap;
    }


    .R-details h4{
        font-size: 1.3rem;
        font-weight: 800;
    }
}

@media (max-width: 410px){
    .card-text h4{
        font-size: 1rem;
        width: 140px;
    }

    .card-text p{
        line-height: 1.1;
        font-size: .8rem;
    }

    .R-details{
        align-items: flex-start;
        text-align: justify;
        gap: 10px;
    }

    .R-details h4{
        font-size: 1rem;
    }
}

@media (max-width: 377px){
    .grid{
        grid-template-columns: 1fr;
    }

    .R-col{
        flex-wrap: wrap;
        gap: 10px;
    }

    .R-details{
        align-items: center;
        text-align: center;
    }

    .R-details h4{
        font-size: 1.1rem;
    }

    .R-row{
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 320px){
    .product-container{
        grid-template-columns: 1fr;

    }
}